td{
    height:80px;
    width:80px;
    background-color:#ddd;
    word-wrap:break-word;
    list-style-type: none;
    
    border-collapse:collapse;
    border: solid thin;
   
}

.month-header{
    background-color:#ccffdd;
}


.month{
    width:auto;
    font-family:sans-serif;
    padding:2px;
    background-color:#e0ebeb;
    
}
