.month{
    font-family:sans-serif;
    padding:5px;    
}

.month-header{
    text-align: center;
    padding:5px;
    color: #004d4d;
}


.month-name{
    font-weight: bold;
    font-size:1.2em;   
}

.days-left{
    grid-column: 1/3;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    text-align:center;
    padding-right:20px;
    color: #004d4d;
    font-weight: bold;
    background-color:white;
}

table{
    width:100%;
    table-layout: fixed;
}
  
tr{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    table-layout:fixed;  
}

th{
   height:15px;
   padding:4px;
   color: #5e8787;
}

td{ 
    table-layout: fixed;
    word-wrap:break-word;
    list-style-type: none;
    border-collapse:collapse;
    border: solid thin; 
    height:6em;
    font-size: 12px;
    padding:2px;
    border: 1px solid #b4cbcb;
    color: #5e8787;
    background-color:#f0f5f5;
    word-wrap: break-word;
    /*
    height:60px;
    width:75px;
    */
}

.event-text{
    font-weight: bold;
    font-size:1em;
    color:#f0f5f5;
    background-color: #004d4d;
    word-break: break-word;  
    
}
.holiday-text{
    font-weight: bold;
    font-size:1em;
    color:#f0f5f5;
    background-color: #008787;
    word-break: break-word;  
}

.event-input{
    width:90%;
    font-weight: bold;
    font-size:1em;
    color:#f0f5f5;
    background-color: #004d4d;
    
}

.delete-button{
    float: right;
    font-size:0.5em;
    font-weight: bold;
}

