.month{
    font-family:sans-serif;
    padding:5px;    
}

.month-header{
    
    text-align: center;
    padding:5px;
    color: #004d4d;
}


.month-name{
    font-weight: bold;
    font-size:1.2em;
    
}

table{
    width:100%;
}
  
tr{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
   
    
}

th{
   height:15px;
   padding:4px;
   color: #5e8787;
}

td{ 
    
    word-wrap:break-word;
    list-style-type: none;
    border-collapse:collapse;
    border: solid thin; 
    height:6em;
    font-size: 12px;
    padding:2px;
    border: 1px solid #b4cbcb;
    color: #5e8787;
    background-color:#f0f5f5;
    word-wrap: break-word;

    /*
    height:60px;
    width:75px;
    */
}

.event-text{
    font-weight: bold;
    font-size:14px;
    color:#f0f5f5;
    background-color: #004d4d;
    
}

.event-input{
    width:90%;
    font-weight: bold;
    font-size:14px;
    color:#f0f5f5;
    background-color: #004d4d;
}
