.header{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

.header-text{
    grid-column:1/2;
}

.user-reg{
    font-size:12px;
    grid-column:2/3;
    display:grid;
    grid-template-columns:1fr 1fr;

}
.username-text{
    grid-column:1/2;
}

.password-text{
    grid-column:1/2;
}


.userid{
    font-size:12px;
    grid-column:1/3;
}


/* .username-input{
    width:auto;
    background-color:white;
    color:black;
    font-weight:normal;
    grid-column:1/3;
}

.password-input{
    width:auto;
    background-color:white;
    color:black;
    font-weight:normal;
    grid-column:1/3;

} */

.options{
    background-color:#ccccff;
    grid-column: 1/3;
    font-size: 0.5em;
}